@import "compass/reset";
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

//头
@import "_top";
//header
@import "_header";
//导航
@import "_nav";
//login
.main {
    width: 100%;
    height: 500px;
    background: #f9f9f9;
    form {
        width: 500px;
        height: 400px;
        // border: 1px solid #aaa;
        margin: auto;
        padding: 20px;
        text-align: center;
        background: white;
        box-shadow: 10px 10px 10px 10px #ccc;
        legend {
            font-size: 26px;
            margin-bottom: 30px;
        }
        .inp_user {
            width: 280px;
            height: 42px;
            border: 1px solid #aaa;
            margin: auto;
            padding: 10px;
            .username {
                width: 100%;
                line-height: 40px;
                font-size: 16px;
                border: none;
                outline: none;
            }
        }
        .text,
        .text2 {
            width: 280px;
            height: 30px;
            margin: auto;
        }
        .inp_pass {
            width: 280px;
            height: 42px;
            position: relative;
            border: 1px solid #aaa;
            margin: auto;
            padding: 10px;
            .password {
                width: 100%;
                line-height: 40px;
                font-size: 16px;
                border: none;
                outline: none;
                // background: #f9f9f9;
            }
        }
        .bot-sub {
            width: 180px;
            height: 42px;
            margin: 0 auto 20px;
            .sub {
                width: 100%;
                height: 100%;
                background: rgb(199, 5, 60);
                color: white;
            }
        }
        ul {
            width: 280px;
            height: 40px;
            text-align: center;
            margin: 20px auto 0;
            li {
                float: left;
                padding: 0 5px;
            }
        }
    }
}