@import "compass/reset";
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

//头
@import "_top";
//header
@import "_header";
//导航
@import "_nav";
//login
.main {
    width: 100%;
    background: #f9f9f9;
    form {
        width: 350px;
        // height: 500px;
        margin: 0 auto;
        padding: 50px 20px 100px;
        // background: papayawhip;
        text-align: center;
        legend {
            border: none;
        }
        >div {
            margin: 20px 0;
            height: 40px;
            width: 310px;
            input {
                width: 100%;
                height: 100%;
                padding: 8px 30px 8px 16px;
                background: #fff;
                border: 1px solid #e5e5e5;
                outline: none;
            }
        }
        .bot-sub {
            height: 40px;
            width: 310px;
            background: #f9f9f9;
            .sub {
                padding: 0 50px;
                width: 100%;
                height: 100%;
                background: #eb0028;
                color: white;
                border: none;
                position: relative;
            }
            .sub:after,
            .sub:before {
                content: '';
                position: absolute;
                left: -1px;
                top: 0;
                width: 0;
                height: 100%;
                background: #eb0028;
                z-index: -2;
                // border-radius: 4px;
            }
            .sub:hover {
                z-index: 1;
                background: transparent;
            }
            .sub:before {
                transition: .3s;
                background: rgb(131, 2, 2);
                z-index: -1;
            }
            .sub:hover {
                color: white;
            }
            .sub:hover:after,
            .sub:hover:before {
                width: 100%;
            }
        }
        #drag {
            width: 313px;
            height: 40px;
            line-height: 40px;
            background-color: #e8e8e8;
            position: relative;
            top: 0px;
            left: -4px;
            border-radius: 5px;
            margin: 0 auto;
        }
        #bg {
            width: 40px;
            height: 100%;
            position: absolute;
            background-color: #75CDF9;
        }
        #text {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            user-select: none;
        }
        #btn {
            width: 40px;
            height: 38px;
            position: absolute;
            border: 1px solid #ccc;
            cursor: move;
            font-family: "宋体";
            text-align: center;
            background-color: #fff;
            user-select: none;
            color: #666;
        }
        >ul {
            >li {
                float: left;
                margin-top: 20px;
                margin-bottom: 15px;
                a {
                    color: #5099cc;
                    padding: 0 20px;
                    border-right: 1px solid #dfdfdf;
                }
            }
        }
    }
}