/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/login.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 7, ../sass/login.scss */
a {
  text-decoration: none;
}

/* line 2, ../sass/_top.scss */
#top {
  height: 32px;
  width: 100%;
  background: #eee;
}
/* line 6, ../sass/_top.scss */
#top .top_nav {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  line-height: 32px;
  color: #999;
  font-size: 12px;
}
/* line 13, ../sass/_top.scss */
#top .top_nav ._navleft {
  float: left;
}
/* line 15, ../sass/_top.scss */
#top .top_nav ._navleft span {
  margin: 0 20px 0 0;
}
/* line 19, ../sass/_top.scss */
#top .top_nav ._navright {
  float: right;
}
/* line 21, ../sass/_top.scss */
#top .top_nav ._navright span {
  margin: 0 0 0 20px;
}

/* line 1, ../sass/_header.scss */
#header {
  width: 100%;
  height: 97px;
  margin-bottom: 20px;
}
/* line 6, ../sass/_header.scss */
#header .header_main {
  width: 1200px;
  height: 97px;
  margin: 0 auto;
}
/* line 11, ../sass/_header.scss */
#header .header_main .logo {
  float: left;
  margin-top: 30px;
}
/* line 15, ../sass/_header.scss */
#header .header_main .logo img {
  width: 216px;
  height: 60px;
}
/* line 20, ../sass/_header.scss */
#header .header_main .search {
  height: 60px;
  padding-left: 154px;
  float: left;
  margin: 37px 0 0;
}
/* line 27, ../sass/_header.scss */
#header .header_main .search .search_inp {
  width: 510px;
  border: 1px solid #ee394b;
  height: 34px;
  position: relative;
  z-index: 3000;
  float: left;
}
/* line 34, ../sass/_header.scss */
#header .header_main .search .search_inp .text {
  width: 400px;
  border: 0;
  background: #fff;
  font-size: 12px;
  padding-left: 10px;
  color: #999;
  height: 14px;
  line-height: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
  float: left;
}
/* line 48, ../sass/_header.scss */
#header .header_main .search .search_inp .btn {
  width: 100px;
  color: #fff;
  border: 0;
  background: #eb3b4a;
  font-size: 20px;
  height: 34px;
  margin: 0;
  float: right;
  outline: 0;
}
/* line 60, ../sass/_header.scss */
#header .header_main .search .search_nav {
  width: 518px;
  height: 24px;
  color: #c7c7c7;
  margin-left: -8px;
}
/* line 65, ../sass/_header.scss */
#header .header_main .search .search_nav li {
  float: left;
  height: 24px;
}
/* line 68, ../sass/_header.scss */
#header .header_main .search .search_nav li a {
  font-size: 12px;
  padding: 0 10px;
  line-height: 24px;
  border-right: 1px solid #c7c7c7;
}
/* line 74, ../sass/_header.scss */
#header .header_main .search .search_nav li a:hover {
  color: #ee394b;
}
/* line 80, ../sass/_header.scss */
#header .header_main .header_right {
  width: 209px;
  height: 50px;
  float: right;
  margin-top: 30px;
}
/* line 85, ../sass/_header.scss */
#header .header_main .header_right ul {
  position: relative;
}
/* line 87, ../sass/_header.scss */
#header .header_main .header_right ul li {
  width: 160px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 93, ../sass/_header.scss */
#header .header_main .header_right ul li a {
  width: 50px;
  height: 50px;
  float: left;
}
/* line 97, ../sass/_header.scss */
#header .header_main .header_right ul li a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
/* line 103, ../sass/_header.scss */
#header .header_main .header_right ul li p {
  float: left;
}
/* line 106, ../sass/_header.scss */
#header .header_main .header_right ul li p b {
  width: 100px;
  height: 20px;
  color: #999;
  display: block;
  font-size: 12px;
  line-height: 20px;
}
/* line 114, ../sass/_header.scss */
#header .header_main .header_right ul li p span {
  display: inline-block;
  width: 100px;
  height: 20px;
  color: #666;
  font-size: 12px;
  line-height: 20px;
}
/* line 124, ../sass/_header.scss */
#header .header_main .header_right ul .top1 {
  display: none;
}
/* line 129, ../sass/_header.scss */
#header .header_main .arrow {
  float: right;
  margin: -19px 0 0 10px;
  width: 39px;
  height: 19px;
  position: absolute;
  top: 50px;
  right: 0;
  text-align: center;
  background: url(http://localhost/my-iqiyi/src/images/arrow2.gif) no-repeat;
}
/* line 139, ../sass/_header.scss */
#header .header_main .arrow .arrow_left {
  width: 20px;
  height: 20px;
  font-size: 16px;
}
/* line 146, ../sass/_header.scss */
#header .header_main .arrow .arrow_right {
  width: 20px;
  height: 20px;
}

/* line 2, ../sass/_nav.scss */
#nav {
  width: 100%;
  height: 40px;
  background: #EE394B;
}
/* line 6, ../sass/_nav.scss */
#nav .nav_list {
  width: 1200px;
  margin: auto;
}
/* line 9, ../sass/_nav.scss */
#nav .nav_list li {
  float: left;
  height: 40px;
  padding: 0 25px;
  box-sizing: border-box;
}
/* line 14, ../sass/_nav.scss */
#nav .nav_list li a {
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
}
/* line 20, ../sass/_nav.scss */
#nav .nav_list li:hover {
  border-bottom: 2px solid orange;
}

/* line 18, ../sass/login.scss */
.main {
  width: 100%;
  height: 500px;
  background: #f9f9f9;
}
/* line 22, ../sass/login.scss */
.main form {
  width: 500px;
  height: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: 10px 10px 10px 10px #ccc;
}
/* line 31, ../sass/login.scss */
.main form legend {
  font-size: 26px;
  margin-bottom: 30px;
}
/* line 35, ../sass/login.scss */
.main form .inp_user {
  width: 280px;
  height: 42px;
  border: 1px solid #aaa;
  margin: auto;
  padding: 10px;
}
/* line 41, ../sass/login.scss */
.main form .inp_user .username {
  width: 100%;
  line-height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}
/* line 49, ../sass/login.scss */
.main form .text,
.main form .text2 {
  width: 280px;
  height: 30px;
  margin: auto;
}
/* line 55, ../sass/login.scss */
.main form .inp_pass {
  width: 280px;
  height: 42px;
  position: relative;
  border: 1px solid #aaa;
  margin: auto;
  padding: 10px;
}
/* line 62, ../sass/login.scss */
.main form .inp_pass .password {
  width: 100%;
  line-height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}
/* line 71, ../sass/login.scss */
.main form .bot-sub {
  width: 180px;
  height: 42px;
  margin: 0 auto 20px;
}
/* line 75, ../sass/login.scss */
.main form .bot-sub .sub {
  width: 100%;
  height: 100%;
  background: #c7053c;
  color: white;
}
/* line 82, ../sass/login.scss */
.main form ul {
  width: 280px;
  height: 40px;
  text-align: center;
  margin: 20px auto 0;
}
/* line 87, ../sass/login.scss */
.main form ul li {
  float: left;
  padding: 0 5px;
}
